
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap);
@import "compass";

html {
    scroll-behavior: smooth;
    font-family: 'Montserrat';
}

body {
    margin: 0 auto;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
    background-image: linear-gradient(to top, #d299c2 0%, #fef9d7 100%);
}

p {
    font-weight: 500;
    padding-left: 50px;
}

li {
    font-weight: 500;
    list-style: none;
}

#header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.video{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
    position: relative;
}
.video iframe{
    height: 100% !important;
    width: 100% !important;
    position: absolute;
    top: 0; left: 0;
}

/* Page de bienvenue (landing page) */

.landing-page {
    display: grid;
    grid-template-columns: minmax(250px,20%) 1fr;
}

.big-title {
    margin: 100px;
    font-size: 50px;
    font-family: 'Abril FatFace', cursive;
}


/* Effet stylistique surlignage barre de navigation */

.nav-links {
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 50px;
    width: 100%;
}

.nav-links a {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 500;
    color: black;
}

.highlight {
    color: #343434;
    -webkit-transition: color 250ms, text-shadow 250ms;
    transition: color 250ms, text-shadow 250ms;
    text-decoration: none;
    text-shadow: 0px 1px 0px white;
    position: relative;
    z-index: 0;
}
.highlight::after {
    position: absolute;
    z-index: -1;
    bottom: -5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    content: '';
    width: 100%;
    height: 3px;
    background-color: #eb2727;
    -webkit-transition: all 250ms;
    transition: all 250ms;
}
.highlight:hover {
    color: white;
    text-shadow: 1px 1px 1px black;
}
.highlight:hover::after {
        height: 130%;
        width: 104%;
} 

/* Kit d'icônes services (services) */

.services {
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
}

.service-item {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.delivery-icon {
    font-size: 4em;
    color: #eb2727;
}

.service-details {
    font-weight: 500;
    text-align: center;
}

/* Stylisation des titres de sections */

.section-title {
    font-size: 50px;
    font-family: 'Abril FatFace', cursive;
    font-weight: 100;
    position: relative;
}

.section-title::before {
    content: "";
    position: absolute;
    background-color: #eb2727;
    width: 50px;
    height: 7px;
    bottom: 0;
}

/* Application du hover partout */

.logo:hover, .truck:hover, .image:hover{
    transform: scale(1.1);
}

/* Stylisation des images générales */

.image {
    max-height: 150px;
    height: auto;
    width: auto;
    border: 3px solid black;
    margin: 15px;
}

/* Stylisation des grilles (grid) */

.grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

/* Formulaire stylé */

.form-style{
    margin-left: 80px;
    margin-bottom: 50px;
    max-width: 500px;
    padding: 20px 12px 10px 20px;
    font: 13px Arial, Helvetica, sans-serif;
}
.form-style-heading{
    font-weight: bold;
    font-style: italic;
    border-bottom: 2px solid #ddd;
    margin-bottom: 20px;
    font-size: 15px;
    padding-bottom: 3px;
}
.form-style label{
    display: block;
    margin: 0px 0px 15px 0px;
}
.form-style label > span{
    width: 100px;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}
.form-style span.required{
    color:red;
}
.form-style input.input-field, .form-style .select-field{
    width: 48%;	
}
.form-style input.input-field, 
.form-style .tel-number-field, 
.form-style .textarea-field, 
    .form-style .select-field{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #C2C2C2;
    box-shadow: 1px 1px 4px #EBEBEB;
    -moz-box-shadow: 1px 1px 4px #EBEBEB;
    -webkit-box-shadow: 1px 1px 4px #EBEBEB;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    padding: 7px;
    outline: none;
}
.form-style .input-field:focus, 
.form-style .tel-number-field:focus, 
.form-style .textarea-field:focus,  
.form-style .select-field:focus{
    border: 1px solid rgb(204, 0, 0);
}
.form-style .textarea-field{
    height: 100px;
    width: 55%;
}
.form-style input[type=submit],
.form-style input[type=button]{
    border: none;
    padding: 8px 15px 8px 15px;
    background: #cc0808;
    color: #fff;
    box-shadow: 1px 1px 4px #DADADA;
    -moz-box-shadow: 1px 1px 4px #DADADA;
    -webkit-box-shadow: 5px 5px 5px #DADADA;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}
.form-style input[type=submit]:hover,
.form-style input[type=button]:hover{
    background: #ea000050;
    color: #fff;
}


/* Pied de page */

#footer {
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #4b0f0fa2;
    color: white;
    text-decoration: none;
}

.legal{
    color: white;
    text-decoration: none;
    max-width: 30%;
}

.scrollbutton{
    background: #c10c0e;
    color: #fff;
    cursor: pointer;
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 10px;
}

/* Navbarre burger */
@media (max-width: 1150px) 
{
    .burger-container {
        width: 35px;
        height: 30px;
        position: relative;
    }

    .burger {
        display: block;
        height: 3px;
        width: 30px;
        background: black;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: background 0.4s;
    }

    .burger-container.active .burger {
        background: transparent;
    }

    .burger::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: black;
        bottom: 8px;
        transition: transform 0.4s,
            bottom 0.4s,
            background 0.4s;
    }

    .burger-container.active .burger::before {
        bottom: 0;
        transform: rotate(-45deg);
        background: black;
    }

    .burger::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: black;
        top: 8px;
        transition: transform 0.4s,
            top 0.4s background 0.4s;
    }

    .burger-container.active .burger::after {
        top: 0;
        transform: rotate(45deg);
        background: black;
    }
    .nav-links {
        position: absolute;
        width: 100%;
        height: 60vh;
        background: white;
        left: 0;
        top: -70vh;
        transition: top 0.4s ease-in-out;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        padding: 0 50px;
    }

    .nav-links.active {
        top: 0;
    }

    .nav-links li {
        margin: 0;
    }

    .nav-links a {
        color: black;
        font-size: 30px;
    }
}
